.button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 16px;
  color: var(--neutral-10);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.primary {
  background: var(--primary);
}

.secondary {
  background: var(--text);
}

.secondary.text {
  background: transparent;
  color: var(--neutral-50);
}

.secondary.text:hover {
  color: var(--text);
}

.primary.text {
  background: transparent;
  color: var(--primary);
}

.loaderView {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--neutral-30);
}

.loaderView.text {
  background: transparent;
}

.loader {
  color: var(--primary);
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}