.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@media (max-width: 786px) {
  .footer {
    align-self: flex-end;
    background-color: var(--neutral-10);
  }
}