:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  --text: hsl(213, 96%, 18%);
  --primary: hsl(243, 100%, 62%);
  --light: hsl(228, 100%, 84%);
  --accent: hsl(206, 94%, 87%);
  --error: hsl(354, 84%, 57%);

  --neutral-50: hsl(231, 11%, 63%);
  --neutral-40: hsl(229, 24%, 87%);
  --neutral-30: hsl(217, 100%, 97%);
  --neutral-20: hsl(231, 100%, 99%);
  --neutral-10: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  width: 100%;
}

p {
  margin: 0px;
}

#root {
  width: 100%;
}

@media (prefers-color-scheme: light) {
}
